<mat-card class="custom-card">
    <mat-card-header class="head">
        <h2>Welcome to SchachEP!</h2>
    </mat-card-header>
    <mat-card-content>
        <form>
            <div class="homepage">
                <p>Create an account!</p>
                <a routerLink="/signup" mat-raised-button class="signup-button">Sign Up</a>
                <p></p>
                <p class="account-text">Already have an account?</p>
                <a routerLink="/login" mat-raised-button class="login-button">Log In</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
