.back-button{
  background-color: #3b3d41;
  color: #ffffff;
  margin-top: 2px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.back-button-container {
  display: flex;
  justify-content: flex-end;
}

.spacer {
  flex-grow: 1;
}

.back-button:hover{
  background-color: #eeeeee;
  color: #0FB27C;
}
