<div id="outer" style="color:white">
  Bot {{timer2}}
  <div id="board" style="width: 500px; height: 500px;"></div>
  {{this.loggedUser}} {{timer1}}
</div>
<mat-divider></mat-divider>
<div class="senin">
  <div class="example-button-row">
    <button mat-raised-button class="button" routerLink="/lobby">Lobby</button>
  </div>

  <div class="example-button-row">
    <button mat-raised-button class="button" (click)="surrender()">Surrender</button>
  </div>

  <div class="example-button-row">
    <button mat-raised-button class="button" (click)="remis()">Remis</button>
  </div>
</div>











